@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --light: #f7f7f7;
  --grey: #c4c4c4;
  --dark: #1f1f1f;
  --green: #1bb498;
  --greenv2: #179b83;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  font-family: "Poppins", sans-serif;
}

.container {
  min-width: 50%;
  background: var(--light);
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  max-width: 60%;
}

.question {
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: 1.5rem;
  background: var(--green);
  color: var(--light);
}

.option-container {
  padding: 4em;
}

.options-list {
  list-style: none;
  z-index: 2;
  display: inline-block;
}

.option-item {
  margin: 1em 0;
  cursor: pointer;
}

.radio-button {
  height: 0.7em;
  width: 0.7em;
  border-radius: 50%;
  background: var(--grey);
  display: inline-block;
  border: 0px solid var(--green);
  transition: 100ms ease-in-out;
}

.option {
  display: inline;
  margin-left: 10px;
  color: var(--dark);
  transition: 100ms ease-in-out;
}

.option-item:hover,
.option-item.selected .option {
  color: var(--green);
}

.option-item:hover .radio-button {
  border: 1px solid var(--green);
}

.option-item.selected .radio-button {
  border: 4px solid var(--green);
  background: var(--white);
}

.ques-action {
  padding: 0.5em 1em;
  background: var(--greenv2);
  cursor: pointer;
}

.time {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  color: var(--dark);
  opacity: 0.05;
  pointer-events: none;
  user-select: none;
}

.action-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: var(--green);
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.action-btn:hover {
  background: var(--greenv2);
}

.prev-btn {
  left: 0;
}

.next-btn {
  left: 100%;
  transform: translate(-100%, -50%);
}

.footer {
  padding: 1em 2em;
  background: var(--green);
  color: var(--light);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active-ques {
  padding: 0.2em 0.65em;
  border-radius: 25%;
}

.submit {
  background: var(--greenv2);
  padding: 0.2em 0.65em;
  cursor: pointer;
  border: 1px solid var(--greenv2);
}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

@media (max-width: 1200px) {
  .container {
    min-width: 75%;
    max-width: 80%;
  }
}
@media (max-width: 600px) {
  .container {
    min-width: 95%;
  }
  .time {
    left: 50%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}
